<form method="post" enctype="multipart/form-data">
	<div class="col-6">
		<div class="form pb-3">
			<input type="file" name="file" class="form-control" />
		</div>
		<button type="submit" class="btn btn-outline-dark rounded-0 p-3 pt-1 pb-1">Add</button>
	</div>
</form>